@import url('https://fonts.googleapis.com/css2?family=Sancreek&family=Tenor+Sans&display=swap');

/*
CSS RESET
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  font-family: 'Tenor Sans', sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5 {
  font-family: 'Sancreek', serif;
}

h1 {
  font-size: 2rem;
}